{% extends "base.html" %} <!-- тег, расширяющий шаблон base.html --> <!--  -->
{% block page_content %} <!-- тэг, указывающий на то что начиная с данного места в шаблоне base.html начнется воспроизводиться код из блока page_content -->
<div class="col-md-8 offset-md-2"> <!-- html теэ div, указывающий что с этого места начнется некий новый раздел. Данному разделу присвоен класс оформления из бутстрапа class="col-md-8 offset-md-2" для придлания ему определенного стиля оформления -->
    <h1>{{ post.title }}</h1> <!-- переменная post.title помещена в html тег h1, это значит что из модели Post берется поле title и выводится жирным шрифтом -->
    <small> <!-- html тег уменьшающий размер текста на единицу по сравнению с отсальным текстом -->
        {{ post.created_on.date }} |&nbsp; <!-- переменная {{ post.created_on.date }} берет из модели Post поле created_on и отображает его на странице в формате date. Далее после этого следует простая вертикальная черта "|" Тоже отображающаяся на странице -->
        Категории:&nbsp;<!-- за вертикальной центой отображается слово "Категории" и двоеточие ":" -->
        {% for category in post.categories.all %} <!-- Далее после котегории должна быть приведена что за категория выбрана. По этому открывается цикл в теге for в котором перебираются все категории из переменной post -->
        <a href="{% url 'blog_category' category.name %}"> <!-- создаётся ссылка (html тег a), при нажатии на которую будет осуществлен переход на страницу blog_category т.к. в теге определн атрибут href через тег url (href="{% url 'blog_category' category.name %}")-->
            {{ category.name }} <!-- наименование ссылки из строки выше - выводит наименование категории, из цикла, определенного 2 строками выше -->
        </a>&nbsp;<!-- закрытие html тега а -->
        {% endfor %} <!-- закрытие тега for -->
    </small> <!-- закрытие html тега small -->
    <p>{{ post.body | linebreaks }}</p> <!-- html тег р, тег нового абзаца - создает новый абзац. В данном обазце выводится поле body модели Post (т.к. в render переменная post из context ссылается на модель Post). К данной переменной применен фильт linebrakes который заменяет переносы строки аналогами из HTML; один перенос строки будет заменен на <br />, новая строка с предыдущей пустой строкой оборачиваются в тег </p>. -->
    <h3>Оставьте комментарий:</h3> <!-- html тег h3 - заголовок 3-го уровня. В заголовке третьего уровня выводтится тескт "Оставить комментарий:" -->
    <form action="/blog/{{ post.pk }}/" method="post"> <!-- html тег form - создает форму на веб странице. В данном теге заданы атрибуты action="/blog/{{ post.pk }}, который означает, что при срабатывании формы, данные будут отправлены по адресу /blog/{{ post.pk }}. И атрибут method="post", который означает, что в данной форме используется метод POST-->
        {% csrf_token %} <!-- тег {% csrf_token %} - обязательный тег для форм, защищающий их от от CSRF-атак, добавляя в форму в виде скрытого поля csrf-токен -->
        <div class="form-group"> <!-- html тег div открывающий новый раздел на страничке, данному разделу присвоен класс class="form-group". Это класс из бутстрапа отвечающий за стилизацию данного раздела -->
            {{ form.author }} <!-- в данном разделе выводится форма (поле для заполнения из класса CommentForm (т.к. во views в функуции рендер в context прописано form = CommentForm())  -->
        </div> <!-- закрытие тега div - закрытие раздела --> <!--  -->
        <div class="form-group"> <!-- Открытие нового тега div - нового раздела аналогичного предыдущему, тоже со стилями из бутстрапа но уже для поля с комментарием -->
            {{ form.body }} <!-- выводится форма для написания комментария -->
        </div> <!-- закрывается раздел -->
        <button type="submit" class="btn btn-primary">Отправить</button> <!-- html тег button - создаёт кликабельную кнопку. В данном случае на самой кнопке будет написано "Отправить" - т.к. этот текст написан между открывающимся и закрывающимся частями тега button. Также тегу присвоен аргумент type="submit" - определяющий тип кнопки. submit - значит кнопка для отправки данных формы на сервер. Так же кнопке присвоен класс class="btn btn-primary", определяющий стили кнопки из бутстрапа -->
    </form> <!-- закрытие формы -->
    <h3>Комментарии:</h3> <!-- в html заголовке третьего уровня выводится текст "Комментарии: -->
    {% for comment in comments %} <!-- далее на странице будут выводиться все комментарии. Для этого открывается цикл for и перебирается каждый комментарий данного поста -->
    <p> <!-- открытие html тега р - который открывает новый абзац -->
        {{comment.created_on.date }}&nbsp;<!-- перпменная, выводящая поле created_on модели Comment данного комментария -->
        <b>{{ comment.author }}</b> написал: <!-- html тег b- используется для выделения текста внутри него жирным шрифтом. внутри него задана переменная comment.author которая должна вываодить автора комментароия. Далее идёт текст "Написал" -->
    </p> <!-- закрытие абзаца, закрытие html тега р -->
    <p>{{ comment.body }}</p> <!-- в новом абзаце (новый html тег р) задана переменная {{ comment.body }} - выводящая тело комментария -->
    <hr> <!-- html тег hr проводит горизонтальную линию по всей странице тем самым разделяя её на до и после. Тут закончился вывод комментарияй, далее пойдёт следующий если он есть  -->
    {% endfor %} <!-- закрытие цикла for -->
</div> <!-- закрытие раздела веб страницы -->
{% endblock %} <!-- закрытие (окончание) блока page_content -->
